---
type Props = {
  title: string;
};
---

<header
  class="wrapper mx-auto mb-2 flex h-24 w-full items-center justify-between sm:mb-4 sm:h-32 lg:mb-0 lg:h-40"
>
  <h1 class="flex items-center text-3xl font-bold">
    <span>{Astro.props.title}</span>
  </h1>
  <div class="flex items-center gap-4">
    <slot />
  </div>
</header>
