<label id="vibration-checkbox">
  <!-- @ts-expect-error: "switch" attribute is not supported in Astro -->
  <input class="vibration-checkbox-input" type="checkbox" switch checked />
</label>

<style is:global>
  #vibration-checkbox {
    position: absolute;
    z-index: -1;
    bottom: 0;
    right: 0;
    width: 1px;
    height: 1px;
    opacity: 0;
    pointer-events: none;
  }

  #vibration-checkbox .vibration-checkbox-input {
    width: 1px;
    height: 1px;
  }
</style>
