---
import { cn } from '@libs/shadcn/lib/utils';

const { class: className, ...props } = Astro.props;
type Props = astroHTML.JSX.Attributes<'main'>;
---

<main
  {...props}
  id="layout-main"
  class={cn('pb-24 sm:pb-32 lg:pb-40', className)}
>
  <slot />
</main>

<style is:global>
  #layout-main {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
  }
</style>
