#############
## 環境設定 ##
#############

ENV="development"
DEV_PORT="1600"

###########
## Turso ##
###########

DEV_TURSO_DB_FILE="./.turso/dev.sqlite"
PRIVATE_TURSO_CONNECTION_URL="file:${DEV_TURSO_DB_FILE}"
PRIVATE_TURSO_AUTH_TOKEN="turso-auth-token"
